:root {
  --azul: #0077b6;
  --azul-oscuro: #003049;
  --bg: #eef3f7;
  --borde: #d9d9d9;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: "Inter", sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: #fff;
  border-radius: 18px;
  padding: 40px 45px;
  box-shadow: 0px 6px 22px rgba(0,0,0,0.12);
  width: 360px;
  text-align: center;
  border: 1px solid var(--borde);
}

.login-logo {
  width: 130px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 1.4rem;
  color: var(--azul-oscuro);
}

.sub {
  margin-bottom: 20px;
  color: #555;
}

input {
  width: 100%;
  padding: 12px 14px;
  font-size: 1rem;
  border: 1px solid var(--borde);
  border-radius: 10px;
  margin-bottom: 18px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: var(--azul);
  box-shadow: 0 0 0 3px rgba(0,119,182,0.2);
}

.btn-login {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  background: var(--azul);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.25s;
}

.btn-login:hover {
  background: var(--azul-oscuro);
}

.note {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #777;
}
